.Title {
    color: azure;

  }
  .text{
    color: beige;
  }
  .image{
border-radius: 50%;
border-color: red;
border-style: groove;
  }
  .Background{
    background-color: black;
  }
  .input{
    justify-content: center;
  }
  .card{
    

    background: linear-gradient(rgba(5,7,12,0.7),rgba(5,7,12,0.7));
    border-radius: 50px;
    align-content: center;
    
  }