
.container{
    display: grid;
   grid-template-columns: repeat(
    auto-fit,
    minmax(150px,
    1fr)
   );
   
   
    background-image: url('../components/Images/Cards.jpg');
    background-position: center;
    background-size: cover;
    min-height: 90.9vh;
    max-height: fit-content;
    padding-top: 60px;

}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    gap: 50px;
}